
# ignore pkl files 
.gitignore

# ignore data files
data/

# ignore model files
models/

# ignore log folder 
*.log


# ignore config.ini
config.ini

# ignore pkl files 
*.pkl

# ignore .session
*.session

# ignore session-journal
*.session-journal

# ignore .csv files
*.csv

